msi.iws
.idea/
nbproject/
_make/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.svn

/.build
/Resources/Private/frontendSrc/node_modules/
*.js.map
.sass-cache
composer.lock
var
.php-cs-fixer.cache
/config

.claude
CLAUDE.md
