.o-site-footer {
    padding: 60px 0 30px;
    color: #222;
    background: $white;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%);

    &__copyright {
        padding-top: 5px;
        color: #222;
    }

    &__link {
        @include nessa-link-color(
            $nessa-navlink-color,
            $nessa-navlink-color-hover,
            $nessa-navlink-color-focus
        );

        padding-left: 15px;
        font-size: $font-size-sm;

        &:first-child {
            padding-left: 0;
        }
    }

    &__credits {
        padding-top: 1rem;
        margin-top: 1rem;
        font-size: $font-size-sm;
        border-top: $border-width solid $border-color;
    }
}
