<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Cta"/>

<f:section name="Main">

		<div class="col-lg-9 text-center text-lg-start">
			<f:if condition="{data.header}">
				<h3>{data.header}</h3>
			</f:if>

            <f:format.html>{data.bodytext}</f:format.html>
		</div>

		<div class="col-lg-3 cta-btn-container text-center">
			<f:render
				partial="Cta/Button"
				arguments="{ctaLink: data.tx_starter_ctalink, ctaButtonText: data.tx_starter_ctalink_text, ctaButtonClass: 'o-btn-cta'}"/>
		</div>

</f:section>

</html>
