<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Hero"/>

<f:section name="Main">

	<div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

		<div class="carousel-indicators" id="hero-carousel-indicators"></div>

		<div class="carousel-inner" role="listbox">
			<f:for each="{heros}" as="hero" iteration="iterator">
				<f:render partial="Hero/Item" arguments="{data: hero.data, files: hero.files, cycle: iterator.cycle}"/>
			</f:for>
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
			<svg class="icon icon-lg" aria-hidden="true" focusable="false"><use href="#bi-chevron-left"></use></svg>
			<span class="visually-hidden">Previous</span>
		</button>

		<button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
			<svg class="icon icon-lg" aria-hidden="true" focusable="false"><use href="#bi-chevron-right"></use></svg>
			<span class="visually-hidden">Next</span>
		</button>

	</div>
</f:section>

</html>
