<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<f:layout name="Default"/>

<f:section name="Header">
    <f:comment>When the image is placed above, the header moves below it into the text column (see Main).</f:comment>
    <f:if condition="{imagePosition} != above">
        <f:render partial="Headers" arguments="{data: data, settings: settings}"/>
    </f:if>
</f:section>

<f:section name="Main">

    <f:variable name="layout" value="{textCol: 'col-lg-6', textOrder: 'order-1 order-lg-2 mt-3 mt-lg-0', mediaCol: 'col-lg-6', mediaOrder: 'order-2 order-lg-1 mt-5 mt-lg-0', modifier: '', imageWidth: '570', imageSizes: '(min-width: 992px) 50vw, calc(100vw - 1.5rem)'}"/>
    <f:if condition="{imagePosition} == right">
        <f:variable name="layout" value="{textCol: 'col-lg-6', textOrder: 'order-2 order-lg-1 mt-5 mt-lg-0', mediaCol: 'col-lg-6', mediaOrder: 'order-1 order-lg-2', modifier: '', imageWidth: '570', imageSizes: '(min-width: 992px) 50vw, calc(100vw - 1.5rem)'}"/>
    </f:if>
    <f:if condition="{imagePosition} == above">
        <f:variable name="layout" value="{textCol: 'col-lg-9 mx-auto', textOrder: 'order-2', mediaCol: 'col-lg-9 mx-auto', mediaOrder: 'order-1', modifier: ' content--media-above', imageWidth: '900', imageSizes: '(min-width: 992px) 75vw, calc(100vw - 1.5rem)'}"/>
    </f:if>

    <div class="row content{layout.modifier}">

        <div class="{layout.textCol} {layout.textOrder} text">
            <f:if condition="{imagePosition} == above">
                <f:render partial="Headers" arguments="{data: data, settings: settings}"/>
            </f:if>

            <f:if condition="{data.bodytext}">
                <f:format.html>{data.bodytext}</f:format.html>
            </f:if>

            <f:render partial="Cta/Button"
                      arguments="{ctaLink: data.tx_starter_ctalink, ctaButtonText: data.tx_starter_ctalink_text}"/>
        </div>

        <div class="{layout.mediaCol} {layout.mediaOrder} media text-center">
            <f:if condition="{images.0}">
                <f:render partial="Media/Type"
                          arguments="{file: images.0, data: data, settings: settings, imageWidth: layout.imageWidth, imageSizes: layout.imageSizes}"/>
            </f:if>
        </div>

    </div>

</f:section>

</html>
