.ctype-nessa_teaser {
    padding-top: 20px;

    a {
        color: inherit;
    }

    .teaser {
        &__wrapper {
            text-align: center;
        }

        &__body {
            display: flex;
            flex-direction: column;
        }

        &__header {
            margin-bottom: 15px;
            hyphens: auto;
        }

        &__copy {
            margin-bottom: 0;
            font-size: $font-size-base * .875;
        }
    }

    &__default {
        .teaser {
            &__header {
                font-family: inherit;
                font-size: 1.15rem;
                font-weight: 200;
            }

            &__body {
                padding: 30px 20px;
                border-radius: 5px;
                background-color: var(--white);
                transition: all 0.3s ease-in-out;

                &:hover {
                    box-shadow: 0 5px 10px 0 rgb(110 123 131 / 10%);
                }
            }
        }
    }

    &__background {
        a {
            position: relative;
            width: 100%;
        }

        .teaser {
            &__body {
                z-index: 10;
                padding: 15px;
                background-color: var(--white);
                text-align: center;
                border-radius: 5px;
                box-shadow: 0 5px 10px 0 rgb(110 123 131 / 10%);
                transition: all .4s ease-in-out;
            }

            &__wrapper {
                width: 100%;
                padding: 220px 20px 20px;
                border: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                &:hover {
                    .teaser {
                        &__body {
                            background: var(--primary);
                        }

                        &__header,
                        &__copy {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }

    &__image_text_hover {
        .teaser__wrapper {
            position: relative;
        }

        figure {
            position: relative;
            overflow: hidden;
            text-align: center;

            &:hover {
                figcaption {
                    bottom: 0;
                    border: none;
                }
            }
        }

        figcaption {
            position: absolute;
            bottom: -85%;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($primary, .8);
            border-top: 1px solid var(--white);
            transition: all .9s ease-in-out;
        }

        .teaser__body {
            padding: 1em;
            width: 100%;
            height: 60%;
        }

        a,
        .teaser__header,
        .teaser__copy {
            color: var(--white);
        }
    }

    &__image_text_below {
        a {
            margin-left: 0;
        }

        .card {
            border-color: transparent;
            transition: all .4s ease-in-out;
        }
    }

    &__default .teaser__body,
    &__image_text_below .card-body,
    &__font_icons .teaser__wrapper,
    &__file_icons .teaser__wrapper {
        border: 1px solid color-mix(in srgb, var(--gray-dark), transparent 85%);
    }

    &__image_text_below .card-body {
        border-top: none;
    }

    &__default .teaser__body,
    &__font_icons .teaser__wrapper,
    &__file_icons .teaser__wrapper {
        &:hover {
            border-color: color-mix(in srgb, var(--primary), transparent 70%);
            transform: translateY(-10px);
        }
    }

    &__image_text_below .card:hover {
        transform: translateY(-10px);
        .card-body {
            border-color: color-mix(in srgb, var(--primary), transparent 70%);
        }
    }

    &__font_icons,
    &__file_icons {
        .teaser {
            &__wrapper {
                padding: 30px 20px;
                background: var(--white);
                border-radius: 5px;
                box-shadow: 0 5px 10px 0 rgb(110 123 131 / 10%);
                transition: all .4s ease-in-out;
                width: 100%;
            }
        }

        .icon {
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 64px;
            margin: 0 auto 20px;
            background: var(--primary);
            border-radius: 5px;
            transform-style: preserve-3d;
            transition: all .3s ease-out;

            i,
            img {
                border-radius: 5px;
            }

            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                top: -8px;
                left: -8px;
                width: 100%;
                height: 100%;
                background: map-get($grays, '200');
                border-radius: 5px;
                transform: translateZ(-1px);
                transition: all .3s ease-out;
            }
        }
    }

    &__font_icons {
        .teaser {
            &__wrapper {
                > .icon {
                    i {
                        color: var(--white);
                        font-size: $h3-font-size;
                    }
                }

                &:hover {
                    background: var(--primary);

                    .icon {
                        background: var(--white);

                        i {
                            color: var(--primary);
                        }
                    }

                    .teaser {
                        &__header,
                        &__copy {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
}
