.ctype-nessa_teaser {
    padding-top: 20px;

    a {
        color: inherit;
    }

    .teaser {
        &__wrapper {
            text-align: center;
        }

        &__body {
            display: flex;
            flex-direction: column;
        }

        &__header {
            margin-bottom: 15px;
            hyphens: auto;
        }

        &__copy {
            margin-bottom: 0;
            font-size: $font-size-base * .875;
        }
    }

    &__default {
        .teaser {
            &__header {
                font-family: inherit;
                font-size: 1.15rem;
                font-weight: 200;
            }

            &__body {
                padding: 30px 20px;
                background-color: var(--bs-white);
                border-radius: 5px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    box-shadow: 0 5px 10px 0 rgb(110 123 131 / 10%);
                }
            }
        }
    }

    &__background {
        a {
            position: relative;
            width: 100%;
        }

        .teaser {
            &__body {
                z-index: 10;
                padding: 15px;
                text-align: center;
                background-color: var(--bs-white);
                border-radius: 5px;
                box-shadow: 0 5px 10px 0 rgb(110 123 131 / 10%);
                transition: all .4s ease-in-out;
            }

            &__wrapper {
                width: 100%;
                padding: 220px 20px 20px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border: 0;

                &:hover {
                    .teaser {
                        &__body {
                            background: var(--bs-primary);
                        }

                        &__header,
                        &__copy {
                            color: var(--bs-white);
                        }
                    }
                }
            }
        }
    }

    &__image_text_hover {
        .teaser__wrapper {
            position: relative;
        }

        figure {
            position: relative;
            overflow: hidden;
            text-align: center;

            img {
                display: block;
                width: 100%;
                height: auto;
            }

            &:hover {
                figcaption {
                    border-top: none;
                    transform: translateY(0);
                }
            }
        }

        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(var(--bs-primary-rgb) / 80%);
            border-top: 1px solid var(--bs-white);
            transform: translateY(calc(100% - 55px));
            transition: transform .9s ease-in-out;
        }

        .teaser__body {
            width: 100%;
        }

        .teaser__header {
            padding: .5em 0;
            margin: 0;
        }

        .teaser__copy {
            padding: .5em 1em;
        }

        a,
        .teaser__header,
        .teaser__copy {
            color: var(--bs-white);
        }
    }

    &__image_text_below {
        a {
            margin-left: 0;
        }

        .card {
            border-color: transparent;
            transition: all .4s ease-in-out;

            > img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    &__default .teaser__body,
    &__image_text_below .card-body,
    &__font_icons .teaser__wrapper,
    &__file_icons .teaser__wrapper {
        border: 1px solid color-mix(in srgb, #{$gray-800}, transparent 85%);
    }

    &__image_text_below .card-body {
        border-top: none;
    }

    &__default .teaser__body,
    &__font_icons .teaser__wrapper,
    &__file_icons .teaser__wrapper {
        &:hover {
            border-color: color-mix(in srgb, var(--bs-primary), transparent 70%);
            transform: translateY(-10px);
        }
    }

    &__image_text_below .card:hover {
        transform: translateY(-10px);

        .card-body {
            border-color: color-mix(in srgb, var(--bs-primary), transparent 70%);
        }
    }

    &__font_icons,
    &__file_icons {
        .teaser {
            &__wrapper {
                width: 100%;
                padding: 30px 20px;
                background: var(--bs-white);
                border-radius: 5px;
                box-shadow: 0 5px 10px 0 rgb(110 123 131 / 10%);
                transition: all .4s ease-in-out;
            }
        }

        .icon {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            margin: 0 auto 20px;
            background: var(--bs-primary);
            border-radius: 5px;
            transform-style: preserve-3d;
            transition: all .3s ease-out;

            i,
            img {
                border-radius: 5px;
            }

            &::before {
                position: absolute;
                top: -8px;
                left: -8px;
                z-index: 1;
                width: 100%;
                height: 100%;
                content: '';
                background: map-get($grays, '200');
                border-radius: 5px;
                transform: translateZ(-1px);
                transition: all .3s ease-out;
            }
        }
    }

    &__font_icons {
        .teaser {
            &__wrapper {
                > .icon {
                    i {
                        font-size: $h3-font-size;
                        color: var(--bs-white);
                    }
                }

                &:hover {
                    background: var(--bs-primary);

                    .icon {
                        background: var(--bs-white);

                        i {
                            color: var(--bs-primary);
                        }
                    }

                    .teaser {
                        &__header,
                        &__copy {
                            color: var(--bs-white);
                        }
                    }
                }
            }
        }
    }
}
