.ctype-nessa_team {
    .member {
        padding: 30px 20px;
        margin-bottom: 20px;
        text-align: center;
        background: map-get($grays, '100');

        img {
            max-width: 100%;
            margin: 0 0 30px;
        }

        h4 {
            margin-bottom: 2px;
            font-size: 18px;
            font-weight: 700;
        }

        span {
            display: block;
            font-size: 13px;
            font-style: italic;
        }

        p {
            padding-top: 10px;
            font-size: 14px;
            font-style: italic;
            color: #AAA;
        }

        &__social {
            a {
                margin-right: 0.2rem;
            }

            margin-top: 0.8rem
        }
    }

    .content {
        p {
            &:last-child {
                margin-bottom: 40px;
            }
        }
    }
}
