.ctype-nessa_portfolio {
    .portfolio-filters {
        padding: 0;
        margin: 25px auto;
        text-align: center;
        list-style: none;
        border-radius: 50px;

        button {
            padding: 10px 15px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: $custom-navlink-color;
            cursor: pointer;
            background: none;
            border: 0;
            transition: all .3s ease-in-out;

            &:focus {
                color: $custom-navlink-color-focus;
                outline: none;
            }

            &:hover {
                color: $custom-navlink-color-hover;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        button.filter-active {
            color: map-get($theme-colors, 'primary');
        }
    }

    .portfolio-item {
        margin-bottom: 30px;

        .portfolio-info {
            position: absolute;
            right: 30px;
            bottom: 0;
            left: 30px;
            z-index: 3;
            padding: 15px;
            background: map-get($grays, '200');
            opacity: 0;
            transition: all ease-in-out .3s;

            h4 {
                font-size: 18px;
                font-weight: 600;
                color: $headings-color;
            }

            p {
                margin-bottom: 0;
                font-size: 14px;
                color: $body-color;
            }

            .preview-link {
                position: absolute;
                top: calc(50% - 18px);
                right: 40px;
                font-size: 24px;
                color: $custom-navlink-color;
                transition: .3s;

                &:hover {
                    color: $custom-navlink-color-hover;
                }
            }

            .details-link {
                position: absolute;
                top: calc(50% - 18px);
                right: 10px;
                font-size: 24px;
                color: $custom-navlink-color;
                transition: .3s;

                &:hover {
                    color: $custom-navlink-color-hover;
                }
            }
        }

        &:hover {
            .portfolio-info {
                bottom: 20px;
                opacity: 1;
            }
        }
    }
}
