<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="col-lg-4 col-md-6 align-items-stretch pb-3">
	<div class="member h-100">
		<f:if condition="{file}">
			<div class="member-img">
				<f:media file="{file}"
                         class="img-fluid"
                         width="{settings.media.width}"
                         height="{settings.media.height}"
                         alt="{file.originalResource.alternative}"
                         cropVariant="{settings.media.cropVariant}"/>
			</div>
		</f:if>

		<h4>{data.realname}</h4>
		<span>{data.company_position}</span>

		<f:if condition="{data.bodytext}">
			<p>{data.bodytext}</p>
		</f:if>

        <f:if condition="{linkItems} || {data.email}">
            <div class="member__social">
                <f:for each="{linkItems}" as="linkItem">
                    <f:if condition="{linkItem.data.icon}">
                        <f:link.typolink
                            parameter="{linkItem.data.social_link}"
                            target="_blank"
                        >
                            <svg class="icon icon-lg" aria-hidden="true" focusable="false">
                                <use href="#{linkItem.data.icon}"></use>
                            </svg>
                        </f:link.typolink>
                    </f:if>
                </f:for>

                <f:if condition="{data.email}">
                    <f:link.typolink
                        parameter="{data.email}"
                        title="{f:translate(key:'team-member-write-email', arguments:{0: data.realname}, extensionName:'StarterNessa')}"
                    >
                        <svg class="icon icon-lg" aria-hidden="true" focusable="false">
                            <use href="#bi-envelope"></use>
                        </svg>
                    </f:link.typolink>
                </f:if>

                <f:if condition="{data.telephone}">
                    <ul class="list-unstyled">
                        <li>
                            <f:link.typolink parameter="{data.telephone_link}">
                                <svg class="icon icon-lg" aria-hidden="true" focusable="false">
                                    <use href="#bi-telephone"></use>
                                </svg>
                                {data.telephone}
                            </f:link.typolink>
                        </li>
                    </ul>
                </f:if>
            </div>
        </f:if>

	</div>
</div>

</html>
