<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="col-lg-4 col-md-6 align-items-stretch pb-3">
	<div class="member h-100">
		<f:if condition="{teamMember.assets.0}">
			<div class="member-img">
				<f:media file="{teamMember.assets.0}"
                         class="img-fluid"
                         width="{settings.media.width}"
                         height="{settings.media.height}"
                         alt="{teamMember.assets.0.alternative}"
                         cropVariant="{settings.media.cropVariant}"/>
			</div>
		</f:if>

		<h4>{teamMember.realname}</h4>
		<span>{teamMember.company_position}</span>

		<f:if condition="{teamMember.bodytext}">
			<p>{teamMember.bodytext}</p>
		</f:if>

        <f:if condition="{teamMember.nessa_social_element} || {teamMember.email}">
            <div class="member__social">
                <f:for each="{teamMember.nessa_social_element}" as="socialLink">
                    <f:if condition="{socialLink.icon}">
                        <f:link.typolink
                            parameter="{socialLink.social_link}"
                            target="_blank"
                        >
                            <svg class="icon icon-lg" aria-hidden="true" focusable="false">
                                <use href="#{socialLink.icon}"></use>
                            </svg>
                        </f:link.typolink>
                    </f:if>
                </f:for>

                <f:if condition="{teamMember.email}">
                    <f:link.typolink
                        parameter="{teamMember.email}"
                        title="{f:translate(key:'team-member-write-email', arguments:{0: teamMember.realname}, extensionName:'StarterNessa')}"
                    >
                        <svg class="icon icon-lg" aria-hidden="true" focusable="false">
                            <use href="#bi-envelope"></use>
                        </svg>
                    </f:link.typolink>
                </f:if>

                <f:if condition="{teamMember.telephone}">
                    <ul class="list-unstyled">
                        <li>
                            <f:link.typolink parameter="{teamMember.telephone_link}">
                                <svg class="icon icon-lg" aria-hidden="true" focusable="false">
                                    <use href="#bi-telephone"></use>
                                </svg>
                                {teamMember.telephone}
                            </f:link.typolink>
                        </li>
                    </ul>
                </f:if>
            </div>
        </f:if>

	</div>
</div>

</html>
