<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="col-lg-4 col-md-6 align-items-stretch">
	<div class="member">
		<f:if condition="{file}">
			<div class="member-img">
				<f:media file="{file}"
								 class="img-fluid"
								 width="{settings.media.width}"
								 height="{settings.media.height}"
								 alt="{file.originalResource.alternative}"
								 cropVariant="{settings.media.cropVariant}"/>
			</div>
		</f:if>

		<h4>{data.realname}</h4>
		<span>{data.company_position}</span>

		<f:if condition="{data.bodytext}">
			<p>{data.bodytext}</p>
		</f:if>

        <f:if condition="{linkItems} || {data.email}">
            <div class="member__social">
                <f:for each="{linkItems}" as="linkItem">
                    <f:link.typolink
                        parameter="{linkItem.data.social_link}"
                        target="_blank"
                    >
                        <i class="{linkItem.data.icon} icofont-lg"></i>
                    </f:link.typolink>
                </f:for>

                <f:if condition="{data.email}">
                    <f:link.typolink
                        parameter="{data.email}"
                        title="{f:translate(key:'team-member-write-email', arguments:{0: data.realname}, extensionName:'StarterNessa')}"
                    >
                        <i class="icofont-email icofont-lg"></i>
                    </f:link.typolink>
                </f:if>
            </div>
        </f:if>

	</div>
</div>

</html>
