<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    # The colPos > 200 is reserved for EXT:container templates.
</f:comment>
<f:if condition="{data.colPos} > 200">
    <f:else>
        <section id="c{data.uid}" class="ctype-{data.CType}">
            <div class="container" data-aos="fade-up">
    </f:else>
</f:if>

<f:render section="Header" optional="true" />
<f:render section="Main" optional="true"/>

<f:comment>
    # the colPos > 200 is reserved for EXT:container
</f:comment>
<f:if condition="{data.colPos} > 200">
    <f:else>
            </div>
        </section>
    </f:else>
</f:if>

</html>
